# Ignore compiled binaries and output files
mp1/bin/
mp1/output/
mp2/bin/
mp2/output/
mp3/bin/
mp3/output/

# Weird sometimes it's capitalized, sometimes it is
MP1/bin/
MP1/output/
MP2/bin/
MP2/output/
MP3/bin/
MP3/output/
